fieldset {
    border: 0;
}

.login-alert-success{
    width: 99.5%;
    background-color: #43A047;
    padding: 0%;
    padding-bottom: .7%;
    padding-top: .7%;
    padding-left: .7%;
    color: #FFFFFF;
}

.login-alert-danger{
    width: 99.5%;
    background-color: #F31431;
    padding: 0%;
    padding-bottom: .7%;
    padding-top: .7%;
    padding-left: .7%;
    color: #FFFFFF;
}

.login-alert-info{
    width: 99.5%;
    background-color: #FFA500;
    padding: 0%;
    padding-bottom: .7%;
    padding-top: .7%;
    padding-left: .7%;
    color: #FFFFFF;
}

.login-alert-info_2{
    width: 99.5%;
    background-color: #FFA500;
    padding: 0%;
    padding-bottom: .7%;
    padding-top: .7%;
    padding-left: .7%;
    color: #FFFFFF;
    text-align: center;
}

.button_hide {
  float: right;
  margin-top: -0.1%;
  font-size: 20px;
  width: 1%;
  background-color: #43A047;
  color: #FFFFFF;
  padding: 0 0;
  margin-right: .5%;
  border: none;
  cursor: pointer;
}
.button_hide_info {
  float: right;
  margin-top: -0.1%;
  font-size: 20px;
  width: 1%;
  background-color: #FFA500;
  color: #FFFFFF;
  padding: 0 0;
  margin-right: .5%;
  border: none;
  cursor: pointer;
}

.order {
  background-color: #FFFFFF;
  border: none;
  color: #19A7D8;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  transition: .3s;
}
.order:hover {
  background-color: #cccccc;
}

.jidla-submit{
    text-align: center;
}

.jidla{
    background-color: #19A7D8;
    margin-top: 3%;
    padding: 1.5%;
    padding-top: 0.1%;
    margin-left: 5%;
    width: 87%;
    border-radius: 3px;
    color: #FFFFFF;
    margin-bottom: 2%;
}

.jidla-h2{
    font-size: 36px;
    margin-bottom: 0;
    font-weight: 400;
}

.jidla-content-line{
    height: 4px;
    width: 100%;
    margin-left: 0%;
    margin-top: 0%;
}

.jidlo-div{
    width: 25%;
    text-align: justify;
    float: left;
    color: #828282;
    background-color: #FFFFFF;
    height: 550px;
    transition: 0.35s;
}


.jidlo-div:hover{
    background-color: #cccccc;
    cursor: pointer;
}

.jidlo-div-green{
    width: 25%;
    text-align: justify;
    float: left;
    color: #FFFFFF;
    background-color: #04C400;
    height: 550px;
    animation: appear .4s ease-in-out;
}

@keyframes appear{
    0%{
        transform: translate(0);
    }
    33%{
        transform: translateY(10px);
    }
    66%{
        transform: translateY(-10px);
    }
    100%{
        transform: translate(0);
    }
}

h3{
    display: inline-block;
    font-size: 26px;
    margin-bottom: 0;
    margin-top: 50px;
}

.jidlo-div p{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5px;
    font-size: 21px;
}

.jidlo-div-green p{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5px;
    font-size: 21px;
}

.no-jidlo-img{
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.jidlo-img{
    filter: brightness(70%);
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    transition: .2s;
}

.jidlo-img-unknown{
    filter: brightness(70%);
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    transition: .2s;
}

.jidlo-img:hover~.img-rating{
    opacity: 0;
}

.img-rating-div{
    position: relative;
}

.img-rating{
    opacity: 1;
    transition: .2s;
    text-shadow: 0 0 20px #F9BF3B, 0 0 20px #F9BF3B, 0 0 20px #F9BF3B;
    position: absolute;
    color: #F9BF3B;
    right: 38%;
    top: 125px;
    font-size: 40px;
}

.jidlo-img:hover{
    filter: brightness(100%);
    z-index: 10;
    -webkit-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2 ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    opacity: 1;
    transform: scale(2.5);
    -ms-transform: scale(2.5); /* IE 9 */
    -webkit-transform: scale(2.5); /* Safari and Chrome */
}


.nadpis{
    font-size: 30px;
    color: #19A7D8;
}

.jidlo-div-green .nadpis{
    color: #FFFFFF;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 45px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 35px;
  width: 35px;
  background-color: #19A7D8;
  border-radius: 50%;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #19A7D8;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 5px;
	left: 5px;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #FFFFFF;
}

.vlna{
    width: 100%;
    height: 35%;
    padding: 0;
    margin: 0;
    margin-top: -4%;
    left: 0%;
    float: bottom;
    position: absolute;
}


.spinner {
  position: absolute;
  left: calc(50% - 35px);
  top: 19%;
}
.spinner:before {
  content: "";
  position: relative;
  display: block;
}
.spinner:after {
  content: "Ukládání...";
  position: relative;
  display: block;
  text-align: center;
  margin-top: 5px;
  margin-left: -6px;
}
.spinner:before {
  animation: spinner 2s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  width: 40px;
  height: 40px;
  background-color: #818181;
  border: 8px solid #8E8E8E;
}

.spinner_2 {
  position: relative;
  left: calc(50% - 35px);
}
.spinner_2:before {
  content: "";
  position: relative;
  display: block;
}
.spinner_2:before {
  animation: spinner 2s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  width: 40px;
  height: 40px;
  background-color: #818181;
  border: 8px solid #8E8E8E;
}

.spinner_p{
    margin-top: 5px;
}

@keyframes spinner {
  0% {
    transform: scale(0.5) rotate(0deg);
    text-align: left;
  }
  50% {
    border-radius: 50%;
    transform: scale(1) rotate(360deg);
    text-align: center;
    line-height:50px;
  }
  100% {
    transform: scale(0.5) rotate(720deg);
  }
}
