html { height: 100%; }
body { height: 100%; }

body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: #D8D8D8;
    overflow-x: hidden;
}

.navbar{
    background-color: #19A7D8;
    width: 100%;
    display: inline-block;
    height: 100%;
    text-align: center;
    display:table;
}

.navbar-h1{
    font-weight: 700;
    font-size: 60px;
    color: #F0EFF4;
    margin-left: 0%;
    margin-bottom: -5px;
    margin-top: 0%;
}

.navbar-logo{
    float: left;
    padding: 1%;
    padding-top: .4%;
    width: 130px;
    height: 91px;
    margin-right: 4%;
}


.navbar-buttons{
    text-align: left;
    font-weight: 400;
    font-size: 1vw;
    padding: 40px;
    transition: 0.3s;
}

a{
  text-decoration: none;
  color: #F0EFF4;
}

.navbar-main-buttons{
    color: #F0EFF4;
    border-radius: 2px;
    background:none;
    border:none;
    margin:0;
    margin-top: -0.5%;
    padding: 1%;
    padding-top: .5%;
    padding-bottom: .5%;
    cursor: pointer;
    color: F0EFF4;
    font-size: 20px;
    transition: 0.3s;
}

.navbar-main-buttons:hover{
    background-color: #1595c1;
}

.navbar-secondary-buttons{
    color: #F0EFF4;
    border-radius: 2px;
    background:none;
    border:none;
    margin:0;
    margin-top: -0.5%;
    padding: 1%;
    padding-top: .5%;
    padding-bottom: .5%;
    cursor: pointer;
    color: F0EFF4;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    float: right;
    transition: 0.3s;
}

.navbar-secondary-buttons:hover {
    background-color: #1595c1;
}

.navbar-p{
  font-weight: 400;
  font-family: 'Roboto Condensed', sans-serif;
  color: #F0EFF4;
  margin-bottom: -.5%;
  margin-left: 0%;
  font-size: 24px;
}

.buttonss{
    margin-left: -6%;
}

.navbar-button {
  width: calc(10% + 100px);
  font-size: 25px;
  background-color: #128FB6;
  border: none;
  color: white;
  padding: .5% 1.5%;
  border-radius: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4% 1%;
  margin-top: 4%;
  cursor: pointer;
  transition: 0.3s;
}

.navbar-button:hover {
    background-color: #139ac4;
}

.content-img-div{
    margin: 0;
    padding: 0;
    margin-top: 5%;
    padding-left: 18%;
    min-width: 650px;
}

.content-img{
    margin: 0;
    padding: 0;
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content-img-div-1{
    text-align: center;
    min-width: 712px;
    margin-bottom: 100px;
}

.content-span_1{
    width: 17%;
    font-size: calc(.7vw + 15px);
    color: #878787;
}

.content-img-div-2{
    text-align: center;
    min-width: 712px;
    margin-bottom: 100px;
}

.content-span_2{
    width: 17%;
    font-size: calc(.7vw + 15px);
    color: #878787;
}

.content-img-div-3{
    text-align: center;
    min-width: 712px;
}

.content-span_3{
    width: 17%;
    font-size: calc(.7vw + 15px);
    color: #878787;
}



.content-line{
    height: 4px;
    width: 88%;
    min-width: 650px;
    margin-left: 6%;
    margin-top: 5%;
}

#pre-footer{
    min-width: 705px;
}

.content-h2{
    color: #878787;
    text-align: center;
    font-size: calc(1vw + 25px);
    margin-bottom: 0px;
    min-width: 650px;
}

.content-p{
    color: #878787;
    text-align: center;
    font-size: calc(.5vw + 15px);
    min-width: 650px;
}

.content-button{
    background-color: #128FB5;
    font-weight: 700;
    width: calc(100px + 10%);
    font-size: calc(.5vw + 15px);
    color: white;
    padding: 8px 15px;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    margin: auto;
    margin-top: 1%;
    cursor: pointer;
    transition: 0.2s;
}

.content-button:hover{
    background-color: #14a5d1;
}

.vlna{
    width: 100%;
    min-width: 715px;
    height: 25%;
    padding: 0;
    margin: 0;
    margin-top: 0%;
    left: 0%;
    float: bottom;
    position: absolute;
}
