{% extends "basic.html" %}
{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="login-alert-{{ category }}" id="hide_alert">
                {{ message }}
                <button class="button_hide" onclick="hide_alert()">x</button>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <button id="novy-prispevek-input" onclick="novy_prispevek()" name="fu" value="none">+ Nová hláška</button>
    <div id="novy_prispevek" style="height: 0px; display: none;">
        <button class="home-button" onclick="novy_prispevek_2()">x</button>
        <div class="home-figure">
            <figure>
                <img class="recenze-img_1" src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}" alt="Profilovka"/>
                <figcaption class="img-text_1">{{ current_user.name }}</figcaption>
            </figure>
        </div>
        <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="recenze-jidlo-div">
            {% if form.ucitel.errors %}
                {{ form.ucitel(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.ucitel.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                <div class="recenze-jidlo-input">
                    {{ form.ucitel(class="recenze-jidlo") }}
                </div>
            {% endif %}
        </div>
        <div class="recenze-obsah-2">
            <span>Obsah</span>
            {% if form.content.errors %}
                {{ form.content(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.content.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                <div class="recenze-obsah-input">
                    {{ form.content(class="recenze-obsah", placeholder="Obsah hlášky...") }}
                </div>
                <small>Pro formátování textu můžeš použít HTML tagy. <a href="{{ url_for('.html') }}">Jak používat HTML tagy?</a></small>
            {% endif %}
        </div>
        <div>
            {{ form.submit(class="recenze-submit") }}
        </div>
    </form>
    </div>
    <div class="home-recenze">
        <form action="search_ucitel" method="GET">
            <div class="ucitel-div">
                <span>Filtrovat hlášky podle učitele:</span>
                <select class="ucitel" name="ucitel" id="ucitel">
                    <option value="">Vše</option>
                    <option value="Bartošíková">Bartošíková Hana		</option>
                    <option value="Beierová">Beierová Jiřina		</option>
                    <option value="Bendíková">Bendíková Zuzana		</option>
                    <option value="Binarová">Binarová Radomíra		</option>
                    <option value="Bitomská">Bitomská Barbora		</option>
                    <option value="Borunská">Borunská Hana		</option>
                    <option value="Čermák">Čermák Petr		</option>
                    <option value="Černínová">Černínová Danuše		</option>
                    <option value="Englišová">Englišová Radomíra		</option>
                    <option value="Fiedler">Fiedler Michael		</option>
                    <option value="Gebauerová">Gebauerová Blažena		</option>
                    <option value="Gebauerová">Gebauerová Hana		</option>
                    <option value="Halašková">Halašková Petra		</option>
                    <option value="Hamřík">Hamřík Radomír		</option>
                    <option value="Hánečková">Hánečková Eva		</option>
                    <option value="Hanzliková">Hanzliková Zdeňka		</option>
                    <option value="Herrmann">Herrmann Rostislav		</option>
                    <option value="Hlubková">Hlubková Barbora		</option>
                    <option value="Hronková">Hronková Šárka		</option>
                    <option value="Janšta">Janšta Petr		</option>
                    <option value="Jedličková">Jedličková Eva		</option>
                    <option value="Jurčíková">Jurčíková Jana		</option>
                    <option value="Kavecký">Kavecký Patrik		</option>
                    <option value="Klapková">Klapková Monika		</option>
                    <option value="Kolářová">Kolářová Kateřina		</option>
                    <option value="Kopfová">Kopfová Jana		</option>
                    <option value="Kořínek">Kořínek Milan		</option>
                    <option value="Kořízek">Kořízek Pavel		</option>
                    <option value="Kotrla">Kotrla Petr		</option>
                    <option value="Koutná">Koutná Marie		</option>
                    <option value="Krajcarová">Krajcarová Simona		</option>
                    <option value="Krajčová">Krajčová Květoslava		</option>
                    <option value="Krystová">Krystová Ivana		</option>
                    <option value="Kuček">Kuček Martin		</option>
                    <option value="Lipková">Lipková Jitka		</option>
                    <option value="Maschke">Maschke Kamil		</option>
                    <option value="Matějková">Matějková Jana		</option>
                    <option value="Moravcová">Moravcová Petra		</option>
                    <option value="Nováková">Nováková Sonnková Hana		</option>
                    <option value="Novotná">Novotná Marcela		</option>
                    <option value="Onderková">Onderková Gabriela		</option>
                    <option value="Ondrúšová">Ondrúšová Marcela		</option>
                    <option value="Pavelková">Pavelková Alena		</option>
                    <option value="Pobořil">Pobořil Milan		</option>
                    <option value="Prošvicová">Prošvicová Jana		</option>
                    <option value="Puhačová">Puhačová Helena		</option>
                    <option value="Pustějovský">Pustějovský Václav		</option>
                    <option value="Herman">Herman Sajdová Aneta		</option>
                    <option value="Slovík">Slovík Jiří		</option>
                    <option value="Slovíková">Slovíková Eliška		</option>
                    <option value="Staněk">Staněk Aleš		</option>
                    <option value="Štec">Štec Petr		</option>
                    <option value="Štrychová">Štrychová Lucie		</option>
                    <option value="Vítek">Vítek Daniel		</option>
                    <option value="Watt">Watt Steve		</option>
                    <option value="Zápecová">Zápecová Kamila		</option>
                    <option value="Zemková">Zemková Dáša		</option>
                    <input class="ucitel-submit" type="submit" value="Hledat">
                </select>
            </div>
        </form>
        <div id="posts" style="margin-top: -2%;">
            {% for post in posts.items %}
                {% if post.author == current_user %}
                    <a href="{{ url_for('.delete_hlaska', post_id=post.id) }}" style="float: right; color: #F31431; margin: 5px;"><img class="gifec" width="25" height="25" src="{{ url_for('static',  filename='bin.png') }}" alt="Smazat"></a>
                {% endif %}
                <div class="post">
                    <div class="home-figure">
                        <img class="recenze-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" alt="Profilovka"/>
                    </div>
                    <p class="author">{{ post.author.name }}</p>
                    <p class="date">{{ post.date_posted.strftime('%d.%m.%Y') }}, {{ post.date_posted.strftime('%H:%M') }}</p>
                    <p class="date">Učitel: {{ post.ucitel }}</p>
                    <img class="content-line" src="{{ url_for('static', filename='line.png')}}" alt="Čára">
                    <div class="post-content">
                        <h2 class="recenze-title">{{ post.title }}</h2>
                        <p class="recenze-content">{{ post.content|safe }}</p>
                        <div class="recenze-hodnoceni">
                            <div class="emojis">
                                <!--Like-->
                                {% if current_user.has_liked_hlaska_post(post) %}
                                    <div class="dropup">
                                        <a class="dropbtn" href="{{ url_for('like_hlaska_action', post_id=post.id, action='unlike') }}"><div class="emoji blue" style="border-radius: 50px 0px 0px 50px;"><img src="{{ url_for('static', filename='like.png') }}" alt="Emoji" width="30px" height="30px"> {{ post.likes.count() }}</div></a>
                                        <div class="dropup-content">
                                            <h6 class="dropup-nadpis">Like</h6>
                                            {% for foo in post.likes %}
                                                {% if current_user.name != foo.likeHlaskaAuthor.name %}
                                                    <p>{{ foo.likeHlaskaAuthor.name }}</p>
                                                {% else %}
                                                    <p>Vy</p>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="dropup">
                                        <a class="dropbtn" href="{{ url_for('like_hlaska_action', post_id=post.id, action='like') }}"><div class="emoji" style="border-radius: 50px 0px 0px 50px;"><img src="{{ url_for('static', filename='like.png') }}" alt="Emoji" width="30px" height="30px"> {{ post.likes.count() }}</div></a>
                                        <div class="dropup-content">
                                            <h6 class="dropup-nadpis">Like</h6>
                                            {% for foo in post.likes %}
                                                <p>{{ foo.likeHlaskaAuthor.name }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                                <!--Love-->
                                {% if current_user.has_loved_hlaska_post(post) %}
                                    <div class="dropup">
                                        <a href="{{ url_for('love_hlaska_action', post_id=post.id, action='unlove') }}"><div class="emoji red"><img src="{{ url_for('static', filename='dislike.png') }}" alt="Emoji" width="30px" height="30px"> {{ post.loves.count() }}</div></a>
                                        <div class="dropup-content">
                                            <h6 class="dropup-nadpis">Dislike</h6>
                                            {% for foo in post.loves %}
                                                {% if current_user.name != foo.loveHlaskaAuthor.name %}
                                                    <p>{{ foo.loveHlaskaAuthor.name }}</p>
                                                {% else %}
                                                    <p>Vy</p>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="dropup">
                                        <a href="{{ url_for('love_hlaska_action', post_id=post.id, action='love') }}"><div class="emoji"><img src="{{ url_for('static', filename='dislike.png') }}" alt="Emoji" width="30px" height="30px"> {{ post.loves.count() }}</div></a>
                                        <div class="dropup-content">
                                            <h6 class="dropup-nadpis">Dislike</h6>
                                            {% for foo in post.loves %}
                                                <p>{{ foo.loveHlaskaAuthor.name }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                                <!--Surprised-->
                                {% if current_user.has_surprise_hlaska_post(post) %}
                                    <div class="dropup">
                                        <a href="{{ url_for('surprise_hlaska_action', post_id=post.id, action='unsurprise') }}"><div class="emoji yellow-red"><img src="{{ url_for('static', filename='jazyk.png') }}" alt="Emoji" width="30px" height="30px"> {{ post.surprise.count() }}</div></a>
                                        <div class="dropup-content">
                                            <h6 class="dropup-nadpis">Mňam!</h6>
                                            {% for foo in post.surprise %}
                                                {% if current_user.name != foo.surprisedHlaskaAuthor.name %}
                                                    <p>{{ foo.surprisedHlaskaAuthor.name }}</p>
                                                {% else %}
                                                    <p>Vy</p>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="dropup">
                                        <a href="{{ url_for('surprise_hlaska_action', post_id=post.id, action='surprise') }}"><div class="emoji"><img src="{{ url_for('static', filename='jazyk.png') }}" alt="Emoji" width="30px" height="30px"> {{ post.surprise.count() }}</div></a>
                                        <div class="dropup-content">
                                            <h6 class="dropup-nadpis">Mňam!</h6>
                                            {% for foo in post.surprise %}
                                                <p>{{ foo.surprisedHlaskaAuthor.name }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                                <!--Confused-->
                                {% if current_user.has_confused_hlaska_post(post) %}
                                    <div class="dropup">
                                        <a href="{{ url_for('confuse_hlaska_action', post_id=post.id, action='unconfuse') }}"><div class="emoji yellow-green"><img src="{{ url_for('static', filename='vomit.png') }}" alt="Emoji" width="30px" height="30px"> {{ post.confuses.count() }}</div></a>
                                        <div class="dropup-content">
                                            <h6 class="dropup-nadpis">Fuj!</h6>
                                            {% for foo in post.confuses %}
                                                {% if current_user.name != foo.confusedHlaskaAuthor.name %}
                                                    <p>{{ foo.confusedHlaskaAuthor.name }}</p>
                                                {% else %}
                                                    <p>Vy</p>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="dropup">
                                        <a href="{{ url_for('confuse_hlaska_action', post_id=post.id, action='confuse') }}"><div class="emoji"><img src="{{ url_for('static', filename='vomit.png') }}" alt="Emoji" width="30px" height="30px"> {{ post.confuses.count() }}</div></a>
                                        <div class="dropup-content">
                                            <h6 class="dropup-nadpis">Fuj!</h6>
                                            {% for foo in post.confuses %}
                                                <p>{{ foo.confusedHlaskaAuthor.name }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                                <!--Angry-->
                                {% if current_user.has_angry_hlaska_post(post) %}
                                    <div class="dropup">
                                        <a href="{{ url_for('angry_hlaska_action', post_id=post.id, action='unangry') }}"><div class="emoji red-red"><img src="{{ url_for('static', filename='angry.png') }}" alt="Emoji" width="30px" height="30px"> {{ post.angry.count() }}</div></a>
                                        <div class="dropup-content">
                                            <h6 class="dropup-nadpis">Naštvaní</h6>
                                            {% for foo in post.angry %}
                                                {% if current_user.name != foo.angryHlaskaAuthor.name %}
                                                    <p>{{ foo.angryHlaskaAuthor.name }}</p>
                                                {% else %}
                                                    <p>Vy</p>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="dropup">
                                        <a href="{{ url_for('angry_hlaska_action', post_id=post.id, action='angry') }}"><div class="emoji"><img src="{{ url_for('static', filename='angry.png') }}" alt="Emoji" width="30px" height="30px"> {{ post.angry.count() }}</div></a>
                                        <div class="dropup-content">
                                            <h6 class="dropup-nadpis">Naštvaní</h6>
                                            {% for foo in post.angry %}
                                                <p>{{ foo.angryHlaskaAuthor.name }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                                <!--Sad-->
                                {% if current_user.has_sad_hlaska_post(post) %}
                                    <div class="dropup">
                                        <a href="{{ url_for('sad_hlaska_action', post_id=post.id, action='unsad') }}"><div class="emoji yellow-blue"><img src="{{ url_for('static', filename='slinak.png') }}" alt="Emoji" width="30px" height="30px"> {{ post.sad.count() }}</div></a>
                                        <div class="dropup-content">
                                            <h6 class="dropup-nadpis">Boží!</h6>
                                            {% for foo in post.sad %}
                                                {% if current_user.name != foo.sadHlaskaAuthor.name %}
                                                    <p>{{ foo.sadHlaskaAuthor.name }}</p>
                                                {% else %}
                                                    <p>Vy</p>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="dropup">
                                        <a href="{{ url_for('sad_hlaska_action', post_id=post.id, action='sad') }}"><div class="emoji"><img src="{{ url_for('static', filename='slinak.png') }}" alt="Emoji" width="30px" height="30px"> {{ post.sad.count() }}</div></a>
                                        <div class="dropup-content">
                                            <h6 class="dropup-nadpis">Boží!</h6>
                                            {% for foo in post.sad %}
                                                <p>{{ foo.sadHlaskaAuthor.name }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                                <!--Laugh-->
                                {% if current_user.has_laugh_hlaska_post(post) %}
                                    <div class="dropup">
                                        <a href="{{ url_for('laugh_hlaska_action', post_id=post.id, action='unlaugh') }}"><div class="emoji yellow-blue" style="border-radius: 0px 50px 50px 0px;"><img src="{{ url_for('static', filename='haha.png') }}" alt="Emoji" width="30px" height="30px"> {{ post.laugh.count() }}</div></a>
                                        <div class="dropup-content">
                                            <h6 class="dropup-nadpis">Haha!</h6>
                                            {% for foo in post.laugh %}
                                                {% if current_user.name != foo.laughHlaskaAuthor.name %}
                                                    <p>{{ foo.laughHlaskaAuthor.name }}</p>
                                                {% else %}
                                                    <p>Vy</p>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="dropup">
                                        <a href="{{ url_for('laugh_hlaska_action', post_id=post.id, action='laugh') }}"><div class="emoji" style="border-radius: 0px 50px 50px 0px;"><img src="{{ url_for('static', filename='haha.png') }}" alt="Emoji" width="30px" height="30px"> {{ post.laugh.count() }}</div></a>
                                        <div class="dropup-content">
                                            <h6 class="dropup-nadpis">Haha!</h6>
                                            {% for foo in post.laugh %}
                                                <p>{{ foo.laughHlaskaAuthor.name }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="new-comment">
                        <form method="POST" action="{{ url_for('.comment_hlaska', post_id=post.id) }}">
                            {{ form.hidden_tag() }}
                            <div class="new-comment-body">
                                {% if commentForm.content.errors %}
                                    {{ commentForm.content() }}
                                    <div class="invalid-feedback">
                                        {% for error in commentForm.content.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                        <img class="new-comment-photo" src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}" alt="Profilovka"/>
                                        {{ commentForm.content(class="new-comment-text", type="text", placeholder="Napiš komentář...", autocomplete="off") }}
                                {% endif %}
                            </div>
                        </form>
                    </div>
                    <div class="comments">
                        {% for com in comments %}
                            {% if com.post_id == post.id %}
                                <div class="comment-body">
                                    <img class="comment-photo" src="{{ url_for('static', filename='profile_pics/' + com.author.image_file) }}" alt="Profilovka"/>
                                    <div class="comment-text">
                                        {% if current_user == com.author %}
                                            <span class="comment-p"><span style="color: #19A7D8; font-size: 16px; margin-left: -10px;">Vy&nbsp;</span> {{ com.body }}</span>
                                        {% else %}
                                            <span class="comment-p"><span style="color: #19A7D8; font-size: 16px; margin-left: -10px;">{{ com.author.name }}&nbsp;</span> {{ com.body }}</span>
                                        {% endif %}
                                    </div>
                                    {% if current_user == com.author %}
                                        <span><a style="color: red; font-size: 13px;" href="{{ url_for('.delete_comment_hlaska', comment_id=com.id) }}">&nbsp; <img class="gifec" width="15" height="15" src="{{ url_for('static',  filename='bin.png') }}" alt="Smazat"></a></span>
                                    {% endif %}
                                    <p class="comment-date" style="font-size: 12px; color: #cccccc;">{{ com.date_posted.strftime('%d.%m.%Y') }}, {{ com.date_posted.strftime('%H:%M') }}</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="flexbox">
    <div class="pagination">
        {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if posts.page == page_num %}
                    <a style="color: #F31431">{{ page_num }}</a>
                {% else %}
                    <a href="{{ url_for('.recenze', page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
                <span>...</span>
            {% endif %}
        {% endfor %}
        </div>
    </div>
{% endblock %}