{% extends "basic.html" %}
{% block content %}
{% set check = "No" %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="login-alert-{{ category }}" id="hide_alert">
                {{ message }}
                <button class="button_hide" onclick="hide_alert()">x</button>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
<div class="first-divs">
    <div class="home-recenze">

    </div>

    <div class="home-dnesni-jidla">
        <h1 class="dnesni-jidla-h1">{{ kolik_je }}</h1>
        <img class="content-line-2" src="{{ url_for('static', filename='line_white.png')}}" alt="Čára">
        {% if not dnesni_jidla %}
            <p>Jídeně nejspíš spadly servery. Amatéři.</p>
            <p>Pokud si nevíš rady, koukni se na <a href="{{ url_for('.about') }}">tutoriál</a></p>
        {% else %}
            {% for jidlo in dnesni_jidla %}
                {% if vybrane_jidla_mesic[counter] == loop.index %}
                    <span class="content-p-1-green" style="margin-top: 3%;">
                        <img width="200" height="200" class="content-img" src="{{ url_for('static', filename='stolovani_' + loop.index|string + '_green.png')}}" alt="Talíř">
                        {% if jidlo.nazev == " Toto jídlo se dnes nepodává" %}
                            <p style="padding-right: 5%; padding-top: 3%;">{{ jidlo.nazev * 4 }}</p>
                        {% else %}
                            <p style="padding-right: 5%; padding-top: 3%;">{{ jidlo.nazev }}</p>
                        {% endif %}
                    </span>
                {% else %}
                    <span class="content-p-1" style="margin-top: 3%;">
                        <img width="200" height="200" class="content-img" src="{{ url_for('static', filename='stolovani_' + loop.index|string + '.png')}}" alt="Talíř">
                        {% if jidlo.nazev == " Toto jídlo se dnes nepodává" %}
                            <p style="padding-right: 5%; padding-top: 3%;">{{ jidlo.nazev * 4 }}</p>
                        {% else %}
                            <p style="padding-right: 5%; padding-top: 3%;">{{ jidlo.nazev }}</p>
                        {% endif %}
                    </span>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
<img class="vlna" src="{{ url_for('static', filename='vlna.png')}}" alt="Vlna">
{% endblock %}
