{% extends "basic.html" %}
{% block content %}
    <h2>Formátování textu</h2>
    <p>Pokud chceš použít formátování textů pro recenzi, hlášku nebo přiznání, musíš použít HTML tagy. Je to opravdu jednoduché. Stačí napsat začáteční tag ve formě &ltnějaký text&gt, pak přidat svůj text a ukončit pomocí končícího tagu ve formě &lt/nějaký text&gt</p>
    <p>&ltb&gtTučný text&lt/b&gt -> <b>Tučný text</b></p>
    <p>&lti&gtKurzíva&lt/i&gt -> <i>Kurzíva</i></p>
    <p>&ltsub&gtDolní index&lt/sub&gt -> <sub>Dolní index</sub></p>
    <p>&ltsup&gtHorní index&lt/sup&gt -> <sup>Horní index</sup></p>
    <p>&ltbr /&gtZalomení řádku -></p> <br />
    <p>&ltsmall&gtMalý text&lt/small&gt -> <small>Malý text</small></p>
    <p>&ltbig&gtVelký text&lt/big&gt -> <big>Velký text</big></p>
{% endblock %}