{% extends "basic.html" %}
{% block content %}
    <div class="login">
        <div class="errors">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="login-alert-{{ category }}" id="hide_alert">
                    {{ message }}
                    <button class="button_hide" onclick="hide_alert()">x</button>
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>
        <form method="POST" action="">
        {{ form.hidden_tag() }}
        <h3 class="login-h3">Zapomenuté heslo</h3>
        <img class="login-line" src="{{ url_for('static', filename='line_white.png')}}" alt="Čára">
        <div class="login-name-div">
            {{ form.password.label(class="login-name") }}<br />
            {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                <div class="col-3" style="margin-bottom: 10%;">
                    {{ form.password(class="effect-10", type="password", placeholder="Nové heslo") }}
                </div>
            {% endif %}
        </div>
        <div class="login-submit">
            {{ form.submit() }}
        </div>
    </form>
    </div>
<img class="vlna" src="{{ url_for('static', filename='vlna.png')}}" alt="Vlna">
{% endblock content %}